
:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --title-text-color-one:#000000 ;
    --accent-color:#2196F3;
    --primary-bt-color: #FFFFFF;
    --accent-color-one: #F5F4FA;
    --primary-phon-color: hsla(0, 0%, 100%, 0.6);
    --primary-brg-color:#2F303A;
    
}

body {
    background:var(--primary-bt-color);
    color:var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    font-family:Roboto, sans-serif;
    letter-spacing: 0.03em;
    margin: 0;

}
ul {
    list-style: none;
}
.logo {
    color: var(--title-text-color-one);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    text-decoration: none;
}

.logo-one {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;
}

.logo-secondary {
    color:var(--primary-bt-color);
    font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        text-decoration: none;
}
button {
    font-family: inherit;
}

.site-nav  .link {
    color:var(--title-text-color);
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link-current{
    color: var(--accent-color);
    text-decoration: none;

}

.auth-nav  .link{
    color:var(---primary-text-color);
    font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color:var(--accent-color);
}

 .section-work {
    text-decoration: none;
 }
.section-link {
    color:var(--primary-text-color);
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        
}
.section-title {
    color: var(--title-text-color);
    font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        
}

.section-item {
    color: var(--title-text-color);
    font-weight: 700;
        font-size: 18px;
        line-height: 2.0;
        letter-spacing: 0.06em;
        
}

.section-items {
    color: var(--title-text-color);
    font-weight: 500;
        font-size: 16px;
        line-height:1.19;
      
        

}
.section-desc {
    color:var(--primary-text-color);
        font-size: 16px;
        line-height:1.19;     
}
.section-text {
    color:var(--primary-text-color);
    line-height: 1.71;
}
.slogan-title{
color: var(--primary-bt-color);
    font-weight: 900;
    font-size: 44px;
    line-height:1.36;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
 }
 .slogan {
    background-color:var(--primary-brg-color);
 }

 .button  {
    color: var(--primary-bt-color);
    background-color: var(--accent-color);
    text-decoration: none;
}

.button-primary {
    color: var(--primary-bt-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}

.button-work  {
    color: var(--title-text-color);
        background-color: var(--accent-color-one);
}

.button-work:hover,
.button-work:focus {
    color: var(--primary-bt-color);
        background-color: var(--accent-color);
}

.button-secondary {
    color: var(--primary-bt-color);
        background-color: var(--accent-color);
}
.button-work  .button-secondary {
font-weight: 500;
    font-size: 16px;
    line-height:1.62; 
}

.address .link{
    color:var(--primary-bt-color);
    line-height: 1.71;
        text-decoration: none;
        font-style: normal;
}
.address  .link:hover,
 .address .link:focus {
    color:var(--accent-color);
}
.address .link-one {
    color:var(--primary-phon-color);
   
        line-height: 1.71;
        text-decoration: none;
        font-style: normal;
}
.address .link-one:hover,
.address .link-one:focus {
color: var(--accent-color);
}

footer {
    background-color:var(--primary-brg-color);
    font-style:normal;
    text-decoration: none;
    list-style: none;
}